body {
  
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
   color: #2779c0;

    font-family: 'Tangerine', cursive;
    font-size:5.625rem;
    margin: 50px auto 0 auto;

}
h2 {
    color: #2779c0;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}
    h3 {
        color: #1d8ac5;
    font-family: 'Montserrat', sans-serif;
   
}
a {
    color: #1d8ac5;
}
hr {
    border-color: 
    #66deee;
     border-width: 5em; 
      
}

   .skill
    {
    width: 6em; 
    height: 4em;
  }
  
.top-container
{
    background-color: #66deee;
    position: relative;
    padding-top: 5.625em;

}
.top-cloud
{
    width: 15em; 
  
    display: inline-block;
    position: absolute;
    top: 50px;
    right: 300px;

}





.bottom-cloud {

    width: 15em; 
    
    position: absolute;
    bottom: 300px;
    left: 300px;
}
.middle-container {
   
    margin-top: 3.5em;

}
.bottom-container {
    background-color: #66deee;
    height: 6em;
    margin-top: 20px;
  
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background:  #30e3cb;
    background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .footer-link {
    
    margin:2em ;
  }
  .btn {
    margin-bottom: 2em;
  }
  p{
    color: rgb(24, 22, 22);
  }
  #text {
    color: #1c1919;
  font-style: color= black;}